.box {
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s;
  margin: auto;
  width: 300px;
  height: 300px;
  -webkit-filter: grayscale(1);
  display: inline-block;

}

.box:hover {
  -webkit-filter: grayscale(0);
}

.box.final {
  background-image:url('../img/final.png');
}

.box.voluntweer {
  background-image:url('../img/voluntweer.png');
}

.box.cff {
  background-image:url('../img/cff.jpg');
  background-size: 450px;
}

.box.piano {
  background-image:url('../img/piano.jpg');
  background-size: 540px;
}

.box.nemo {
  background-image:url('../img/nemo.jpg');
  background-size: 350px;
}

.box.guitar {
  background-image:url('../img/guitar.jpg');
  background-size: 450px;
}

.box.photography {
  background-image:url('../img/photog.jpg');
  background-size: 500px;
}

.box.money {
  background-image:url('../img/money.png');
  background-size: 300px;
}

.box.cliqd {
  background-image:url('https://lh3.googleusercontent.com/oh055PfSV9ZDCVN0fkQG3lN5V0pvNpEMn7hnENLOW-gCTIZAcueBb_4LhZ8cBixJ_wU=h900-rw');
  background-size: 300px;
}

.box.branch {
  background-image:url('../img/branchout.jpg');
  background-size: 400px;
  background-position: center;
}

.box.cu {
  background-image:url('../img/hacks.png');
  background-size: 500px;
  background-position: left;
}

.boxlayer {
  width: 300px;
  height: 300px;
  transition: background-color 2s;
  transition: color 0.5s;
  color: rgba(255, 255, 255, 0);
  position: absolute;
  text-align: center;
  padding-top: 5%;
}

.boxlayer:hover {
  background-color: rgba(112, 112, 112, 0.6);
  color: rgba(255, 255, 255, 0.8);
}

.boxlayer:hover .button {
  opacity: 1;
}

.boxlayer p {
  margin-left: 5%;
  margin-right: 5%;
}

.button {
  width: 100px;
  height: 40px;
  background-color: rgba(61, 101, 161, 0.8);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.8);
  transition opacity 0.8s;
  margin: auto;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  font-size: 18px;
  padding-top: 2%;
  opacity: 0;
}

.boxlayer a:hover {
  text-decoration: none;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.8);;
  box-shadow: 0 0 0 5px rgba(61, 101, 161, 0.8);
  color: rgb(61, 101, 161);
}