.box {
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s;
  margin: auto;
  width: 300px;
  height: 300px;
  -webkit-filter: grayscale(1);
  display: inline-block;

}

.box:hover {
  -webkit-filter: grayscale(0);
}

.box.final {
  background-image:url('./img/final.png');
}

.box.voluntweer {
  background-image:url('./img/voluntweer.png');
}

.box.cff {
  background-image:url('./img/cff.jpg');
  background-size: 450px;
}

.box.piano {
  background-image:url('');
  background-size: 540px;
}

.box.nemo {
  background-image:url('./img/nemo.jpg');
}

.box.guitar {
  background-image:url('./img/guitar.jpg');
  background-size: 450px;
}

.boxlayer {
  width: 300px;
  height: 300px;
  transition: background-color 2s;
  transition: color 0.5s;
  color: rgba(255, 255, 255, 0);
  position: absolute;
  text-align: center;
  padding-top: 5%;
}

.boxlayer:hover {
  background-color: rgba(112, 112, 112, 0.6);
  color: rgba(255, 255, 255, 0.8);
}

.boxlayer:hover .button {
  background-color: rgba(61, 101, 161, 0.8);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

.boxlayer p {
  margin-left: 5%;
  margin-right: 5%;
}

.button {
  width: 100px;
  height: 40px;
  transition: background-color 1s;
  transition: box-shadow 1s;
  transition: color 0.6s;
  margin: auto;
  color: rgba(255, 255, 255, 0);
  font-weight: bold;
  font-size: 18px;
  padding-top: 2%;
}

/*fix this shit
.button:hover {
  background-color: rgb(200, 200, 200);
  box-shadow: 0 0 0 5px rgb(61, 101, 161);
}*/